[package]
name = "maa-cli"
authors = ["Loong Wang <wangl-cc@outlook.com>"]
version = "0.3.9"
edition = "2021"
license.workspace = true

[features]
default = ["self"]
self = []

[[bin]]
name = "maa"
path = "src/main.rs"

[dependencies]
maa-sys = { path = "../maa-sys", features = ["runtime"] }
directories = "5"
anyhow = "1"
clap = { version = "4.4", features = ["derive"] }
paste = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
toml = "0.8"
serde_yaml = "0.9.25"
indicatif = "0.17.6"
tokio = { version = "1.31", default-features = false, features = ["rt"] }
futures-util = "0.3.28"
flate2 = "1"
tar = "0.4.40"
zip = { version = "0.6.6", default-features = false, features = ["deflate"] }
semver = { version = "1.0.18", features = ["serde"] }
sha2 = "0.10.7"
digest = "0.10.7"
signal-hook = "0.3.17"
clap_complete = { version = "4.4" }

[dependencies.chrono]
version = "0.4.31"
default-features = false
features = ["std", "clock", "serde"]

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["rustls-tls", "blocking", "stream", "json"]
