[workspace]
resolver = "2"
members = ["maa-cli", "maa-dirs", "maa-sys"]

[workspace.package]
license = "AGPL-3.0-only"
homepage = "https://github.com/MaaAssistantArknights/maa-cli"
repository = "https://github.com/MaaAssistantArknights/maa-cli"
