[package]
name = "maa-sys"
authors = ["Loong Wang <wangl-cc@outlook.com>"]
version = "0.6.0"
edition = "2021"
description = "Low-level bindings to MAA (MaaAssistantArknights)"
license.workspace = true
repository.workspace = true
homepage.workspace = true

[lints]
workspace = true

[features]
runtime = [
  "dep:libloading",
  "dep:windows-result",
  "dep:windows-strings",
  "dep:windows-sys",
]

[dependencies]
maa-types = { workspace = true }
libloading = { workspace = true, optional = true }
thiserror = { workspace = true }

[target.'cfg(windows)'.dependencies]
windows-result = { workspace = true, optional = true }
windows-strings = { workspace = true, optional = true }
windows-sys = { workspace = true, optional = true, features = [
  "Win32_System_LibraryLoader",
] }
