tasks:
  - type: StartUp
    params:
      client_type: Official
      start_game_enabled: true
  - type: Fight
    strategy: merge
    variants:
      - condition:
          type: Weekday
          weekdays:
            - Sun
        params:
            expiring_medicine: 5
      - params:
          stage:
            default: 1-7
            description: a stage to fight
      - condition:
          type: Weekday
          weekdays:
            - Tue
            - Thu
            - Sat
        params:
          stage: CE-6
      - condition:
          type: DateTime
          start: 2023-08-01T16:00:00
          end: 2023-08-21T03:59:59
        params:
          stage:
            alternatives:
              - SL-6
              - SL-7
              - SL-8
            description: a stage to fight in summer event
  - type: Mall
    params:
      shopping: true
      credit_fight: true
      buy_first:
        - 招聘许可
        - 龙门币
      blacklist:
        - 碳
        - 家具
        - 加急许可
    variants:
      - condition:
          type: Time
          start: 16:00:00
  - type: CloseDown
