[package]
name = "maa-sys"
authors = ["Loong Wang <wangl-cc@outlook.com>"]
version = "0.2.0"
edition = "2021"
description = "Low-level bindings to MAA (MaaAssistantArknights)"
repository.workspace = true
license.workspace = true

[features]
runtime = ["libloading"]

[dependencies]
libloading = { version = "0.8.0", optional = true }

[build-dependencies]
directories = "5"
