name: CI

on:
  push:
    branches: ["main"]
    paths:
      - "crates/*/src/**"
      - "crates/*/Cargo.toml"
      - "crates/*/build.rs"
      - "xtask/**"
      - "Cargo.lock"
      - "codecov.yml"
      - ".cargo/config.toml"
      - ".github/workflows/ci.yml"
  pull_request:
    branches: ["main"]
    paths:
      - "crates/*/src/**"
      - "crates/*/Cargo.toml"
      - "crates/*/build.rs"
      - "xtask/**"
      - "Cargo.lock"
      - "codecov.yml"
      - ".cargo/config.toml"
      - ".github/workflows/ci.yml"

env:
  RUST_BACKTRACE: full
  CARGO_TERM_COLOR: always

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  typos:
    name: Lint (typos)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run typos
        uses: crate-ci/typos@v1

  format:
    name: Lint (format)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Format Check
        run: |
          rustup toolchain install nightly --profile minimal --component rustfmt
          cargo +nightly fmt -- --check

  deny:
    name: Lint (cargo deny)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install cargo-deny
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-deny
      - name: Check
        run: cargo deny check

  build:
    name: Build and Test (${{ matrix.runner }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-latest
          - windows-latest
    env:
      MAA_EXTRA_SHARE_NAME: maa-test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Update Rust
        run: rustup update stable
      - name: Setup Cache
        uses: Swatinem/rust-cache@v2
      - name: Test
        run: |
          cargo x test --with-core -- \
            -- --include-ignored

  build-tier2:
    name: Build and Test (Tier 2, ${{ matrix.runner }})
    needs: [build]
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - macos-15-intel
          - windows-11-arm
    env:
      MAA_EXTRA_SHARE_NAME: maa-test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Update Rust
        run: rustup update stable
      - name: Setup Cache
        uses: Swatinem/rust-cache@v2
      - name: Test
        run: |
          cargo x test  \
            ${{ matrix.runner != 'windows-11-arm' && '--with-core' || '' }} -- \
            -- --include-ignored

  build-no-default-features:
    name: Build and Test (feature=${{ matrix.feature }})
    needs: [build]
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        feature:
          - core_installer # disabled cli_installer and git2, used by package manager
          - git2 # disabled both cli_installer and core_installer, used by appimage
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Update Rust
        run: rustup update stable
      - name: Test
        run: |
          cargo x test \
            --no-clippy --no-all-features -- \
            --no-default-features --features '${{ matrix.feature }}' \
            -- --include-ignored

  build-sys:
    name: Build and Test (maa-sys, static, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov
      - name: Coverage
        run: |
          cargo x test --with-core \
            --package maa-sys --coverage test-only -- \
            -- --include-ignored
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true

  coverage:
    name: Coverage
    needs: [build]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-latest
          - windows-latest
    env:
      MAA_EXTRA_SHARE_NAME: maa-test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov
      - name: Coverage
        run: |
          cargo x test --with-core --no-clippy --coverage all -- \
            -- --include-ignored
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true
