name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: 
          - ubuntu-latest
          - macos-latest
          # - windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build maa-helper
        run: cargo build --bin maa
      - name: Install MaaCore with maa-updater
        env:
          MAA_API_URL: https://github.com/MaaAssistantArknights/MaaRelease/raw/main/MaaAssistantArknights/api/version
        run: cargo run --bin maa -- install
      - name: Build maa-runner
        run: cargo build --bin maa-run
      - name: Lint (clippy)
        if: matrix.os == 'ubuntu-latest'
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Lint (rustfmt)
        if: matrix.os == 'ubuntu-latest'
        run: cargo fmt --all --check
      - name: Test
        run: cargo test --all-targets --all-features
      - name: Try to run maa-runner
        run: cargo run --bin maa-run -- version
      - name: Try to run relocated
        run: |
          old_data_path="$(cargo run --bin maa -- dir data)"
          echo "Old lib path: $old_lib_path"
          new_data_path="$PWD/data"
          mv "$old_data_path" "$new_data_path"
          MAA_DATA_DIR="$new_data_path" cargo run --bin maa-run -- version
