name: CI

on:
  push:
    branches: ["main"]
    paths:
      - "crates/*/src/**"
      - "crates/*/Cargo.toml"
      - "crates/*/build.rs"
      - "Cargo.lock"
      - "codecov.yml"
      - ".cargo/config.toml"
      - ".github/workflows/ci.yml"
      - ".github/actions/setup/**"
      - ".github/actions/install-core/**"
  pull_request:
    branches: ["main"]
    paths:
      - "crates/*/src/**"
      - "crates/*/Cargo.toml"
      - "crates/*/build.rs"
      - "Cargo.lock"
      - "codecov.yml"
      - ".cargo/config.toml"
      - ".github/workflows/ci.yml"
      - ".github/actions/setup/**"
      - ".github/actions/install-core/**"

env:
  RUST_BACKTRACE: full
  CARGO_TERM_COLOR: always

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  typos:
    name: Lint (typos)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run typos
        uses: crate-ci/typos@v1

  format:
    name: Lint (format)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Format Check
        run: |
          rustup toolchain install nightly --profile minimal --component rustfmt
          cargo +nightly fmt -- --check

  deny:
    name: Lint (cargo deny)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install cargo-deny
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-deny
      - name: Check
        run: cargo deny check

  build:
    name: Build and Test (${{ matrix.runner }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-15-intel
          - macos-latest
          - windows-latest
    env:
      MAA_EXTRA_SHARE_NAME: maa-test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Update Rust
        run: rustup update stable
      - name: Setup Cache
        uses: Swatinem/rust-cache@v2
      - name: Build (maa-cli)
        run: |
          cargo build --locked
      - name: Lint (clippy)
        run: |
          cargo clippy -- -D warnings
      - name: Install MaaCore
        env:
          MAA_CONFIG_DIR: ${{ github.workspace }}/crates/maa-cli/config_examples
        run: |
          cargo run --package maa-cli -- install beta
          core_dir=$(cargo run -- dir library)
          cache_dir=$(cargo run -- dir cache)
          package_name=$(basename "$cache_dir"/MAA-v*)
          version=$(echo "$package_name" | sed -E 's/^MAA-v(.+)-(linux|macos|win)-.*/\1/')
          echo "Downloaded MaaCore version: $version"
          {
            echo "MAA_CORE_DIR=$core_dir"
            echo "MAA_CORE_VERSION=v$version"
          } >> "$GITHUB_ENV"
      - name: Test
        env:
          SKIP_CORE_TEST: ${{ matrix.runner == 'windows-11-arm' }}
        run: |
          cargo test -- --include-ignored

  build-tier2:
    name: Build and Test (Tier 2, ${{ matrix.runner }})
    needs: [build]
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - windows-11-arm
    env:
      MAA_EXTRA_SHARE_NAME: maa-test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Update Rust
        run: rustup update stable
      - name: Setup Cache
        uses: Swatinem/rust-cache@v2
      - name: Build (maa-cli)
        run: |
          cargo build --locked
      - name: Lint (clippy)
        run: |
          cargo clippy -- -D warnings
      - name: Test
        env:
          SKIP_CORE_TEST: true
        run: |
          cargo test -- --include-ignored

  build-no-default-features:
    name: Build and Test (feature=${{ matrix.feature }})
    needs: [build]
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        feature:
          - core_installer # disabled cli_installer and git2, used by package manager
          - git2 # disabled both cli_installer and core_installer, used by appimage
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Update Rust
        run: rustup update stable
      - name: Build and Test
        env:
          SKIP_CORE_TEST: true
        run: |
          cargo test --package maa-cli --locked \
            --no-default-features --features '${{ matrix.feature }}' \
            -- --include-ignored

  build-sys:
    name: Build and Test (maa-sys, static, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - macos-latest
          - windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Toolchains
        uses: ./.github/actions/setup
      - name: Install MaaCore
        uses: ./.github/actions/install-core
      - name: Build
        run: cargo build --package maa-sys --locked
      - name: Lint (clippy)
        run: cargo clippy --package maa-sys -- -D warnings
      - name: Test
        # It seems rust needs a static library to check the linking.
        # Without this, we can not link maa-sys to MaaCore on Windows.
        # https://stackoverflow.com/questions/63394094/rust-linker-seeks-a-lib-rather-than-a-dll
        if: ${{ !startsWith(matrix.os, 'windows') }}
        run: cargo test --package maa-sys
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov
      - name: Coverage
        if: ${{ !startsWith(matrix.os, 'windows') }}
        run: |
          cargo +nightly llvm-cov --package maa-sys \
            --codecov --output-path codecov.json \
            -- --include-ignored
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true

  coverage:
    name: Coverage
    needs: [build]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - macos-latest
          - windows-latest
    env:
      MAA_EXTRA_SHARE_NAME: maa-test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Nightly Toolchain
        run: rustup default nightly
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov
      - name: Cleanup Coverage Artifacts
        run: cargo llvm-cov clean --workspace
      - name: Install MaaCore
        env:
          MAA_CONFIG_DIR: ${{ github.workspace }}/crates/maa-cli/config_examples
        run: |
          cargo llvm-cov run --package maa-cli --no-report -- install beta
          core_dir=$(cargo run -- dir library)
          cache_dir=$(cargo run -- dir cache)
          package_name=$(basename "$cache_dir"/MAA-v*)
          version=$(echo "$package_name" | sed -E 's/^MAA-v(.+)-(linux|macos|win)-.*/\1/')
          echo "Downloaded MaaCore version: $version"
          {
            echo "MAA_CORE_DIR=$core_dir"
            echo "MAA_CORE_VERSION=v$version"
          } >> "$GITHUB_ENV"
      - name: Run Tests
        run: cargo llvm-cov --workspace --no-report -- --include-ignored
      - name: Generate Coverage Report
        run: |
          cargo llvm-cov report --codecov --output-path codecov.json
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true
