name: Lint Markdown files

on:
  push:
    branches: ["main"]
    paths:
      - "**/*.md"
      - ".github/workflows/lint-markdown.yml"
  pull_request:
    branches: ["main"]
    paths:
      - "**/*.md"
      - ".github/workflows/lint-markdown.yml"
  schedule:
    - cron: "44 7 * * 2"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  typos:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run typos
        uses: crate-ci/typos@v1

  markdownlint:
    name: Markdownlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: "**/*.md"
          config: "crates/maa-cli/docs/.markdownlint.yaml"

  deadlinks:
    name: Dead Links
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Lychee Cache
        uses: actions/cache@v5
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-
      - name: Run lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: >
            --verbose --no-progress --cache --max-cache-age 1d
            -- .
      - name: Comment on Pull Request if Dead Links Found
        if: failure() && github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            Dead links found in the documentation. Please fix them.
            Details: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
