name: Check typos

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  typo:
    name: Check typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check typos
        uses: crate-ci/typos@master
