name: Publish Homebrew

on:
  workflow_call:
    inputs:
      version:
        description: Package version
        required: true
        type: string
      dryrun:
        description: Do not create PR
        required: true
        type: boolean
    secrets:
      MAA_HOMEBREW_BUMP_PR:
        description: GitHub PAT for creating PR
        required: true
  workflow_dispatch:
    inputs:
      version:
        description: Package version
        required: true
        type: string
      dryrun:
        description: Do not create PR
        default: true
        required: true
        type: boolean

defaults:
  run:
    shell: bash

permissions:
  contents: read

env:
  HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.MAA_HOMEBREW_BUMP_PR }}

jobs:
  bump:
    name: Bump Formulae and Casks
    runs-on: macos-latest
    steps:
      - name: Tap MaasistantArknights Tap
        run: brew tap MaaAssistantArknights/homebrew-tap
      - name: Configure Git User
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Bump Formulae and Casks
        run: |
          for formula in maa-cli maa-cli-beta; do
            brew bump-formula-pr "$formula" \
              ${{ inputs.dryrun && '--dry-run' || '' }} \
              --no-browse \
              --version='${{ inputs.version }}'
          done
