name: Publish Winget

on:
  workflow_call:
    inputs:
      version:
        description: Package version
        required: true
        type: string
      tag:
        description: Tag of the release
        required: false
        type: string
      dryrun:
        description: Do not create PR
        required: true
        type: boolean
    secrets:
      WINGET_GITHUB_TOKEN:
        description: GitHub PAT for creating PR
        required: true
  workflow_dispatch:
    inputs:
      version:
        description: Package version
        required: true
        type: string
      tag:
        description: Tag of the release
        required: false
        type: string
      dryrun:
        description: Do not create PR
        default: true
        required: true
        type: boolean

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  publish:
    name: Publish to Winget
    runs-on: ubuntu-latest
    steps:
      - name: Install komac
        uses: taiki-e/install-action@v2
        with:
          tool: komac
      - name: Update Winget Package
        run: |
          VERSION="${{ inputs.version }}"
          TAG="${{ inputs.tag }}"
          if [ -z "$TAG" ]; then
            TAG="v${{ inputs.version }}"
          fi
          komac update MaaAssistantArknights.maa-cli \
            --version '${{ inputs.version }}' \
            --urls \
              "https://github.com/MaaAssistantArknights/maa-cli/releases/download/$TAG/maa_cli-v${VERSION}-x86_64-pc-windows-msvc-winget.zip" \
              "https://github.com/MaaAssistantArknights/maa-cli/releases/download/$TAG/maa_cli-v${VERSION}-aarch64-pc-windows-msvc-winget.zip" \
            ${{ inputs.dryrun && '--dry-run' || '--submit' }} \
            --token "${{ secrets.WINGET_GITHUB_TOKEN }}"
