name: Publish Winget

on:
  workflow_call:
    inputs:
      version:
        description: Package version
        required: true
        type: string
      tag:
        description: Tag of the release
        required: false
        type: string
    secrets:
      MAABOT_WINGET_TOKEN:
        description: GitHub PAT for creating PR
        required: true
  workflow_dispatch:
    inputs:
      version:
        description: Package version
        required: true
        type: string
      tag:
        description: Tag of the release
        required: false
        type: string

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  publish:
    name: Publish to Winget
    runs-on: ubuntu-latest
    steps:
      - name: Update Winget Package
        uses: vedantmgoyal9/winget-releaser@main
        with:
          identifier: MaaAssistantArknights.maa-cli
          version: ${{ inputs.version }}
          installers-regex: winget
          release-tag: ${{ inputs.tag || format('v{0}', inputs.version) }}
          fork-user: MaaAssistantArknights
          token: ${{ secrets.MAABOT_WINGET_TOKEN }}
